<div class="side-nav">
    <div>
        <button class="btn btn-dark active">
            <span class="material-symbols-outlined">
                home
            </span>
            Home
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                bolt
            </span>
            Shorts
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                subscriptions
            </span>
            Subscriptions
        </button>
    </div>
    <hr>
    <div>
        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                video_library
            </span>
            Library
        </button>

        <button class="btn btn-dark">
            <span class="material-symbols-outlined">
                history
            </span>
            History
        </button>
    </div>


</div>